figure {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

/* Redocly-generated img is wrapped in <p> tag, which adds block start/end margins */
figure p {
    margin-block: 0;
}

figure img {
    /* Filter drop shadow is aware of image transparency */
    -webkit-filter: drop-shadow(0 0 1px #000);
    filter: drop-shadow(0 0 1px #000);
}

figure video {
    -webkit-filter: drop-shadow(0 0 1px #000);
    filter: drop-shadow(0 0 1px #000);
}

figure p img {
    /* Center markdown images inside of their generated wrapping <p> tags */
    vertical-align: middle;
}

figure figcaption {
    margin-top: 0.5em;
}

figcaption {
    font-size: 16px;
    color: #A0A0A0;
}

.one-third-inline-block {
    vertical-align: top;
    width: 32%;
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.half-inline-block {
    vertical-align: top;
    width: 48%;
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

@media only screen and (max-width: 450px) {
    figure img {
        min-width: 85%;
    }

    .one-third-inline-block {
        width: 99%;
    }

    .half-inline-block {
        width: 99%;
    }
}

.video-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); /* Default to 16:9 aspect ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Goofy hack to hide the TOC panel in most of "medium" breakpoint */
@media only screen and (max-width: 1050px) {
    #gatsby-focus-wrapper > div > div > div > div > section {
        width: 90%!important;
    }
    
    #gatsby-focus-wrapper > div > div > div > div > aside {
        display: none!important;
    }
}