figure {
    text-align: center;
}

/* Redocly-generated img is wrapped in <p> tag, which adds block start/end margins */
figure p {
    margin-block: 0;
}

/*
figure img {
    border: 1px solid lightgrey;
}
*/

figcaption {
    color: #A0A0A0;
}

.one-third-inline-block {
    vertical-align: top;
    width: 33%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.half-inline-block {
    vertical-align: top;
    width: 49%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
